body {
    padding-top: 0;
    background-image: url('Images/room.png');
    background-repeat: repeat-x;
    background-color: #333;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding:15px;
    background-color: rgba(255, 255, 255, 0.4);
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    min-height: 480px;
    background-color: transparent;
}

.jumbotron h1 {
    background-color: rgba(255, 255, 255, 0.3);
}